h1, h2 {
    text-align: center;
    color: rgb(4, 146, 35);
}
main {
    text-align: center;
}

.botao1 {
    background-color: rgb(211, 211, 11);
    font-weight: bold;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 4px;
    cursor: pointer;
    

}

.botao2 {
    background-color: rgb(211, 89, 32);
    font-weight: bold;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}