h1, h2 {
    
    text-align: center;
    color: rgb(4, 146, 35);
}

main {
    text-align: center;
}

.botao1 {
    border: none;
    background-color: rgba(241,218,79,255);
    font-weight: bold;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 11px 30px;
    cursor: pointer;

}

.botao2 {
    border: none;
    background-color: rgba(254,255,254,255);
    font-weight: bold;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px;
    cursor: pointer;

}



.rodape {
    text-align: center;
    font-weight: bold;
    color: black;
    display: inline-block;
    padding: 100px;
    margin-left: 35%;
}